In [1]:
import pandas as pd
import numpy as np
import altair as alt

In [82]:
pop_dens_df = pd.read_csv("/Users/mparedes/Downloads/ACS_Total_Population_Boundaries_3422488297652437407.csv")
mappings = pd.read_csv("/Users/mparedes/Downloads/2010_Census_Tract_to_2010_PUMA.txt", sep=",", dtype = {'TRACTCE': str})

In [83]:
mappings

       STATEFP  COUNTYFP TRACTCE  PUMA5CE
0            1         1  020100     2100
1            1         1  020200     2100
2            1         1  020300     2100
3            1         1  020400     2100
4            1         1  020500     2100
...        ...       ...     ...      ...
74086       78        30  960900      100
74087       78        30  961000      100
74088       78        30  961100      100
74089       78        30  961200      100
74090       78        30  990000      100

[74091 rows x 4 columns]

In [84]:
mappings.STATEFP = mappings.STATEFP.astype(str)
mappings.COUNTYFP = mappings.COUNTYFP.astype(str)
mappings.TRACTCE = mappings.TRACTCE.astype(str)
mappings.PUMA5CE = mappings.PUMA5CE.astype(str)

mappings = mappings[(mappings.STATEFP == "53") & (mappings.COUNTYFP == "33")]
dict_df = mappings.set_index('TRACTCE')['PUMA5CE'].to_dict() ; dict_df

{'000300': '11601',
 '000401': '11601',
 '000402': '11601',
 '000500': '11601',
 '000600': '11601',
 '001300': '11601',
 '001400': '11601',
 '001500': '11601',
 '001600': '11601',
 '001701': '11601',
 '001702': '11601',
 '001800': '11601',
 '002700': '11601',
 '002800': '11601',
 '002900': '11601',
 '003000': '11601',
 '003100': '11601',
 '003200': '11601',
 '003300': '11601',
 '003400': '11601',
 '003500': '11601',
 '003600': '11601',
 '004600': '11601',
 '004700': '11601',
 '004800': '11601',
 '004900': '11601',
 '005000': '11601',
 '005100': '11601',
 '005400': '11601',
 '000100': '11602',
 '000200': '11602',
 '000700': '11602',
 '000800': '11602',
 '000900': '11602',
 '001000': '11602',
 '001100': '11602',
 '001200': '11602',
 '001900': '11602',
 '002000': '11602',
 '002100': '11602',
 '002200': '11602',
 '002400': '11602',
 '002500': '11602',
 '002600': '11602',
 '003800': '11602',
 '003900': '11602',
 '004000': '11602',
 '004100': '11602',
 '004200': '11602',
 '004301': '11602',
 '004302': '11602',
 '004400': '11602',
 '004500': '11602',
 '005200': '11602',
 '005301': '11602',
 '005302': '11602',
 '005600': '11603',
 '005700': '11603',
 '005801': '11603',
 '005802': '11603',
 '005900': '11603',
 '006000': '11603',
 '006100': '11603',
 '006600': '11603',
 '006700': '11603',
 '006800': '11603',
 '006900': '11603',
 '007000': '11603',
 '007100': '11603',
 '007200': '11603',
 '007300': '11603',
 '007401': '11603',
 '007402': '11603',
 '008001': '11603',
 '008002': '11603',
 '008100': '11603',
 '008200': '11603',
 '008300': '11603',
 '008400': '11603',
 '008500': '11603',
 '009100': '11603',
 '009200': '11603',
 '006200': '11604',
 '006300': '11604',
 '006400': '11604',
 '006500': '11604',
 '007500': '11604',
 '007600': '11604',
 '007700': '11604',
 '007800': '11604',
 '007900': '11604',
 '008600': '11604',
 '008700': '11604',
 '008800': '11604',
 '008900': '11604',
 '009000': '11604',
 '009500': '11604',
 '010100': '11604',
 '010200': '11604',
 '010300': '11604',
 '011101': '11604',
 '011102': '11604',
 '011800': '11604',
 '011900': '11604',
 '009300': '11605',
 '009400': '11605',
 '009600': '11605',
 '009701': '11605',
 '009702': '11605',
 '009800': '11605',
 '009900': '11605',
 '010001': '11605',
 '010002': '11605',
 '010401': '11605',
 '010402': '11605',
 '010500': '11605',
 '010600': '11605',
 '010701': '11605',
 '010702': '11605',
 '010800': '11605',
 '010900': '11605',
 '011001': '11605',
 '011002': '11605',
 '011200': '11605',
 '011300': '11605',
 '011401': '11605',
 '011402': '11605',
 '011500': '11605',
 '011600': '11605',
 '011700': '11605',
 '012000': '11605',
 '012100': '11605',
 '020100': '11606',
 '020200': '11606',
 '020300': '11606',
 '020401': '11606',
 '020402': '11606',
 '020500': '11606',
 '020600': '11606',
 '020700': '11606',
 '020800': '11606',
 '020900': '11606',
 '021000': '11606',
 '021100': '11606',
 '021300': '11606',
 '021400': '11606',
 '021500': '11606',
 '021600': '11606',
 '021700': '11606',
 '021802': '11606',
 '021803': '11606',
 '021804': '11606',
 '021905': '11606',
 '022001': '11606',
 '022101': '11606',
 '022102': '11606',
 '021903': '11607',
 '021904': '11607',
 '022003': '11607',
 '022005': '11607',
 '022006': '11607',
 '022201': '11607',
 '022202': '11607',
 '022203': '11607',
 '022300': '11607',
 '022400': '11607',
 '022500': '11607',
 '022603': '11607',
 '022604': '11607',
 '022605': '11607',
 '022606': '11607',
 '022701': '11607',
 '022702': '11607',
 '022703': '11607',
 '022802': '11607',
 '022803': '11607',
 '022902': '11607',
 '032309': '11607',
 '032313': '11607',
 '032323': '11607',
 '032324': '11607',
 '032325': '11607',
 '022801': '11608',
 '022901': '11608',
 '023000': '11608',
 '023100': '11608',
 '023201': '11608',
 '023202': '11608',
 '023300': '11608',
 '023401': '11608',
 '023403': '11608',
 '023500': '11608',
 '023601': '11608',
 '023603': '11608',
 '023604': '11608',
 '023700': '11608',
 '023801': '11608',
 '023803': '11608',
 '023804': '11608',
 '023900': '11608',
 '024000': '11608',
 '024100': '11608',
 '024200': '11608',
 '024701': '11608',
 '024800': '11608',
 '024901': '11608',
 '024902': '11608',
 '024903': '11608',
 '025003': '11608',
 '023404': '11609',
 '024300': '11609',
 '024400': '11609',
 '024500': '11609',
 '024601': '11609',
 '024602': '11609',
 '024702': '11609',
 '025001': '11609',
 '025005': '11609',
 '025006': '11609',
 '032103': '11609',
 '032104': '11609',
 '032203': '11609',
 '032207': '11609',
 '032208': '11609',
 '032210': '11609',
 '032211': '11609',
 '032212': '11609',
 '032213': '11609',
 '032214': '11609',
 '032215': '11609',
 '032316': '11609',
 '032317': '11609',
 '032318': '11609',
 '025101': '11610',
 '025102': '11610',
 '025200': '11610',
 '025301': '11610',
 '025302': '11610',
 '025400': '11610',
 '025500': '11610',
 '025601': '11610',
 '025602': '11610',
 '025701': '11610',
 '025702': '11610',
 '025803': '11610',
 '025804': '11610',
 '025805': '11610',
 '025806': '11610',
 '026001': '11610',
 '026002': '11610',
 '026100': '11610',
 '029303': '11610',
 '029304': '11610',
 '031907': '11610',
 '031908': '11610',
 '031909': '11610',
 '026200': '11611',
 '026300': '11611',
 '026400': '11611',
 '026500': '11611',
 '026600': '11611',
 '026700': '11611',
 '026801': '11611',
 '026802': '11611',
 '027000': '11611',
 '027100': '11611',
 '027200': '11611',
 '027300': '11611',
 '027400': '11611',
 '027500': '11611',
 '027600': '11611',
 '027800': '11611',
 '027900': '11611',
 '028000': '11611',
 '028100': '11611',
 '028200': '11611',
 '028300': '11611',
 '028402': '11611',
 '028403': '11611',
 '028500': '11611',
 '028600': '11611',
 '028700': '11611',
 '028801': '11611',
 '028802': '11611',
 '027701': '11612',
 '027702': '11612',
 '028901': '11612',
 '028902': '11612',
 '029001': '11612',
 '029003': '11612',
 '030003': '11612',
 '030004': '11612',
 '030005': '11612',
 '030006': '11612',
 '030100': '11612',
 '030201': '11612',
 '030202': '11612',
 '030304': '11612',
 '030305': '11612',
 '030306': '11612',
 '030308': '11612',
 '030309': '11612',
 '030310': '11612',
 '030311': '11612',
 '030312': '11612',
 '030313': '11612',
 '030314': '11612',
 '990100': '11612',
 '029004': '11613',
 '029101': '11613',
 '029102': '11613',
 '029203': '11613',
 '029204': '11613',
 '029205': '11613',
 '029206': '11613',
 '029305': '11613',
 '029306': '11613',
 '029307': '11613',
 '029403': '11613',
 '029405': '11613',
 '029406': '11613',
 '029407': '11613',
 '029408': '11613',
 '029502': '11613',
 '029503': '11613',
 '029504': '11613',
 '029601': '11613',
 '029700': '11613',
 '029801': '11613',
 '031703': '11613',
 '031704': '11613',
 '029602': '11614',
 '029802': '11614',
 '029901': '11614',
 '029902': '11614',
 '030401': '11614',
 '030403': '11614',
 '030404': '11614',
 '030501': '11614',
 '030503': '11614',
 '030504': '11614',
 '030600': '11614',
 '030700': '11614',
 '030801': '11614',
 '030802': '11614',
 '030901': '11614',
 '030902': '11614',
 '031000': '11614',
 '031100': '11614',
 '031202': '11614',
 '031205': '11614',
 '031206': '11614',
 '031204': '11615',
 '031301': '11615',
 '031302': '11615',
 '031400': '11615',
 '031501': '11615',
 '031502': '11615',
 '031601': '11615',
 '031603': '11615',
 '031604': '11615',
 '031605': '11615',
 '031705': '11615',
 '031706': '11615',
 '031800': '11615',
 '031903': '11615',
 '031904': '11615',
 '031906': '11615',
 '032002': '11615',
 '032003': '11615',
 '032005': '11615',
 '032006': '11615',
 '032007': '11615',
 '032008': '11615',
 '032010': '11615',
 '032011': '11615',
 '032102': '11615',
 '021906': '11616',
 '032307': '11616',
 '032311': '11616',
 '032315': '11616',
 '032319': '11616',
 '032320': '11616',
 '032321': '11616',
 '032322': '11616',
 '032326': '11616',
 '032327': '11616',
 '032328': '11616',
 '032329': '11616',
 '032401': '11616',
 '032402': '11616',
 '032500': '11616',
 '032601': '11616',
 '032602': '11616',
 '032702': '11616',
 '032703': '11616',
 '032704': '11616',
 '032800': '11616'}

In [85]:
pop_dens_df

     Object ID  Geographic Identifier - FIPS Code  Total Population
0        70810                        53033000300              2964
1        70812                        53033000402              5421
2        70813                        53033000500              3486
3        70815                        53033000700              5508
4        70816                        53033000800              2636
..         ...                                ...               ...
489      95665                        53033032603              4380
490      95666                        53033032604              5617
491      95667                        53033032605              4485
492      95668                        53033032705              3635
493      95669                        53033032706              2859

[494 rows x 3 columns]

In [86]:
pop_dens_df["census_tract"] =  pop_dens_df["Geographic Identifier - FIPS Code"].astype(str).str[5:]

In [87]:
pop_dens_df

,Object ID,Geographic Identifier - FIPS Code,Total Population,census_tract
0,70810,53033000300,2964,000300
1,70812,53033000402,5421,000402
2,70813,53033000500,3486,000500
3,70815,53033000700,5508,000700
4,70816,53033000800,2636,000800
...,...,...,...,...
489,95665,53033032603,4380,032603
490,95666,53033032604,5617,032604
491,95667,53033032605,4485,032605
492,95668,53033032705,3635,032705
493,95669,53033032706,2859,032706

In [88]:
pop_dens_df['puma'] = pop_dens_df.census_tract.astype(str).map(dict_df); pop_dens_df

,Object ID,Geographic Identifier - FIPS Code,Total Population,census_tract,puma
0,70810,53033000300,2964,000300,11601
1,70812,53033000402,5421,000402,11601
2,70813,53033000500,3486,000500,11601
3,70815,53033000700,5508,000700,11602
4,70816,53033000800,2636,000800,11602
...,...,...,...,...,...
489,95665,53033032603,4380,032603,NaN
490,95666,53033032604,5617,032604,NaN
491,95667,53033032605,4485,032605,NaN
492,95668,53033032705,3635,032705,NaN
493,95669,53033032706,2859,032706,NaN

In [118]:
pop_dens_df = pop_dens_df[pop_dens_df['puma'].isna() == False]

In [120]:
pop_puma = pop_dens_df.groupby('puma')['Total Population'].sum().reset_index()

In [121]:
pop_puma.to_csv("../data-files/population_by_puma.csv")