In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

In [2]:
def convert_format(number):
   # date = dt.strptime(number, '%m/%d/%Y')
    date = dt.strftime(number, '%Y%U')
    return date

In [3]:
def take_first(array_like):
    return array_like[0]

In [4]:
hosps = '/Users/miguelparedes/Downloads/overall_daily-may-30.csv'#data taken from https://kingcounty.gov/depts/health/covid-19/data/daily-summary.aspx

In [5]:
hosp_df = pd.read_csv(hosps, parse_dates = [0])

In [6]:
hosp_df

    Admission_Date  Hospitalizations  Hospitalization_Rate
0       2020-02-01                 1                  0.04
1       2020-02-02                 0                  0.00
2       2020-02-03                 0                  0.00
3       2020-02-04                 0                  0.00
4       2020-02-05                 0                  0.00
..             ...               ...                   ...
844     2022-05-25                28                  1.24
845     2022-05-26                24                  1.06
846     2022-05-27                21                  0.93
847     2022-05-28                10                  0.44
848     2022-05-29                 0                  0.00

[849 rows x 3 columns]

In [7]:
hosp_df['yearweek'] = hosp_df.Admission_Date.map(convert_format)

In [8]:
hosp_df

    Admission_Date  Hospitalizations  Hospitalization_Rate yearweek
0       2020-02-01                 1                  0.04   202004
1       2020-02-02                 0                  0.00   202005
2       2020-02-03                 0                  0.00   202005
3       2020-02-04                 0                  0.00   202005
4       2020-02-05                 0                  0.00   202005
..             ...               ...                   ...      ...
844     2022-05-25                28                  1.24   202221
845     2022-05-26                24                  1.06   202221
846     2022-05-27                21                  0.93   202221
847     2022-05-28                10                  0.44   202221
848     2022-05-29                 0                  0.00   202222

[849 rows x 4 columns]

In [9]:
hosp_df = hosp_df.set_index('Admission_Date')

In [11]:
hosp_df = hosp_df.resample('W').agg({'Hospitalizations': "sum", 
                               'Hospitalization_Rate': 'sum', 
                                "yearweek": take_first})

In [12]:
hosp_df.to_csv("kc_hosp_weekly.csv")